@import "mixin";

html {
    // google fonts で取得
    font-family: 'Odibee Sans', cursive;
}

body {
    margin: 0px;
}

section {
    position: relative;
    background-color: teal;
    // 100vh は画面全体の高さを要素の高さにする設定。
    height: 100vh;

    &:nth-child(2) {
        background-color: mediumvioletred;
    }
    &:nth-child(3) {
        background-color: orange;
    }
}

// 異なるクラスに同じプロパティを付与したい場合は、カンマで区切る。
.tween-animate-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;

    // 元々の設定されていた大きさの2倍
    font-size: 2em;

    &.inview {
        opacity: 1;

        & .char {
            // transformプロパティを有効にするためには、display プロパティを inline 以外に設定しなければならない。
            opacity: 0;
            display: inline-block;
        }
    }
    
    & .char {
        opacity: 0;
    }
}