/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/


.flex {
    flex-direction: row;
    flex-wrap: wrap;
}

.travel {
    &__img,
    &__texts {
        flex-basis: 47%;
    }

    &__inner {
        padding: 50px;
    }

    &__texts {
        display: flex;
        align-items: flex-end;
    }
}

.houses {

    &__item {
        // 1行に２要素格納することが可能
        flex-basis: 50%;
        margin-bottom: 60px;
    }
}

.popular {

    // justify-content のような各要素ではなく、全体に適用するプロパティに関しては親要素に定義する
    &__container {
        justify-content: space-between;
    }

    &__item {
        flex-basis: 47%;
    }
}

.footer {
    & .logo {
        justify-content: flex-start;
    }

    // 要素の左を揃えるために margin-left を 0 に指定
    &__li {
        margin-left: 0;
        margin-right: 30px;
    }
}